.social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

button:disabled,
button[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.thanks-text {
    color: forestgreen;
    margin-left: 10px;
}
